.work {
    margin-bottom: 2rem;
   
    @media (max-width: 549px) {
        display: flex;
        flex-direction: column;

        .description {
            order: 1;
        }

        .summary {
            order: 0;
            border-bottom: 1px solid $primary;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
    } 
    
    @media (min-width: 550px) {
        .description {
            padding-right: 1.5rem;
            border-right: 1px solid $primary;
        }
    }
    
    .summary {
        padding-left: 1.5rem;   
    }

    .title, .company, .timing {
        margin-bottom: 0.5rem;
    }

    .title {
        font-weight: $weight-heavy;
    }

}
