<section class="experience">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                <h5 id="experience" class="section-header">Experience</h4>
            </div>
        </div>
        <div class="row">
            <h6 class="section-sub-header">Skills <strong>/</strong> Cerficiations</h6>
            <ul>
                <li>Salesforce Certified Developer (401)</li>
                <li>Salesforce Apex/Visualforce</li>
                <li>Front End Development (HTML, CSS, SCSS, JS, ES6)</li>
                <li>Back End Development (SQL, Node, Apex)</li>
            </ul>
        </div>
        <div class="row">
            <h6 class="section-sub-header">Work Experience</h6>
        </div>
        {{#> work title="Senior Technical Consultant"
                  company="Fronde"
                  timeFrom="August '14"
                  timeTo="Present"}}
            Big tasks for all the fun times
        {{/work}}
        {{#> work title="Lead CRM Developer"
                  company="Vodafone"
                  timeFrom="November '12"
                  timeTo="August '14"}}
            Senior/Lead in the Salesforce.com team at Vodafone for their internal Salesforce.com instance
        {{/work}}
       



    </div>
</section>
