<header class="header">
    <div class="container">
        <div class="row">
            <h5 class="name">Ben Naylor</h4>
            <p class="headline">Salesforce Dev, Consultant, Electronics enthusiast</p>
            <h3 class="title">Curriculum Vitae <strong>/</strong> Portfolio</h3>
        </div>
    </div>
</header>
