<section class="intro section">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h5 id="intro" class="section-header">Introduction</h4>
                <p>Welcome, Goedendag!</p>

                <p>I'm a consultant, senior developer, systems architect, cloud systems enthusiast, and a transformer of ideas into software. My current focus is working on the Salesforce.com platform, where I fill the role of a Senior Salesforce.com Technical Consultant.</p>
                <p class="section-sub-header">My usual work day</p>
                <ul class="intro--list">
                    <li class="list-item">Delivering software for many companies across many different industries by writing efficient, standards-based, high-performing code that fulfills the business requirements</li>
                    <li class="list-item">Discovering what the client needs for their project by challenging the status quo and then providing true business value</li>
                    <li class="list-item">Providing high-level architectural guidance for complex integration points across many different clients</li>
                    <li class="list-item">Engaging with our wider team, bringing a sense of camaraderie to the office</li>
                    <li class="list-item">Working in small agile teams, flexibly delivering great outcomes</li>
                </ul>
                <p class="section-sub-header">Whilst not at work</p>
                <ul class="intro--list">
                    <li class="list-item">Building websites (deduction.io)</li>
                    <li class="list-item">Playing with ICs, Arduino’s, Photons (particle.io)</li>
                    <li class="list-item">Woodworking</li>
                    <li class="list-item">Being outdoors, hiking overnight trips in the middle of nowhere</li>
                    <li class="list-item">Playing board games with friends (all the good ones of course)</li>
                </ul>
            </div>
        </div>
    </div>
</section>
