<div class="overlay" id="modal">
    <div class="modal">
        <div class="header">
            <h3>Modal Header</h3>
        </div>
        <div class="content">
            <p>This is some modal content</p>
        </div>
        <div class="footer">
            <button class="button-primary">Close</button>
        </div>
    </div>
    <div class="backdrop"></div>
</div>
