<nav class="nav-bar">
    <div class="container">
        <div class="row">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#intro" class="nav-link">Intro</a>
                </li>
                <li class="nav-item">
                    <a href="#experience" class="nav-link">Experience</a>
                </li>
                <li class="nav-item">
                    <a href="#portfolio" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>  
            </ul>
        </div>
    </div>
</nav>
<div class="nav-spacer"></div>
