<!DOCTYPE html>
<html>
    <head>
        <title>Ben Naylor - Cirriculum Vitae</title>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        Ben Naylor
    </body>
</html>

