/** node_module includes **/
@import 'normalize';
@import 'skeleton';

$primary: #33c3f0;
$primary--x-light: #ecfafe;
$inactive: #ABABAB;
$success: #2CF470;
$error: #f03333;
$transition: 0.5s ease;
$weight-heavy: 600;

/** defaults **/
header, section {
    margin: 4rem 0rem;
}

.container {
    border-bottom: 1px solid $primary;
}

.nav-bar .container {
    border-top: 1px solid $primary;
}

.section-header {
    z-index: 1;
    position: initial;
}

.section-sub-header {
    text-transform: uppercase;
    font-weight: $weight-heavy;
}

.invalid {
    border: 1px solid $error !important;
}


.is-error {
    color: $error; 
}

.is-success {
    color: $success;
}

/** header **/
.header {
    .name { 
        margin-bottom: 0.2rem;
    }

    .headline, .title {
        margin-bottom: 0.5rem;
    }

    .container {
        border: none;
    }
}

/** nav **/

.nav-bar {
    transition: background-color $transition;
    background-color: #fff;
    z-index: 990;
}

.nav-list {
    list-style: none;
    margin-bottom: 0;

    li {
        margin-bottom: 0;
    }
    
    li a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: $weight-heavy;
        line-height: 6rem;
        color: #335;
    }

    li a:hover {
        color: $primary;
    }

}

.nav-spacer {
    display: none;
    width: 100%;
}


@media (min-width: 550px) {

    .nav-list li {
        position: relative;
        float: left;
        margin-right: 3rem;
    }

    .nav-spacer {
        height: 4.2em;
    }

    .nav-docked {
        .nav-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $primary--x-light;
            border-bottom: 1px solid $primary;

            .container {
                border: none;
            }
        }

        .nav-spacer {
            display: block;
        }
    }
}

//fix head link padding
.section-header:before { 
    display: block; 
    content: " "; 
    margin-top: -10.2rem; 
    height: 10.2rem; 
    visibility: hidden; 
}


/** sections **/

.section {
    overflow: hidden;
}

.experience ul {
    margin-left: 1rem;
}

.work {
    margin-bottom: 2rem;
    display: flex;

    .description {
        padding-right: 1.5rem;
        border-right: 1px solid $primary;
    }

    .summary {
        padding-left: 1.5rem;   
    }

    .title, .company, .timing {
        margin-bottom: 0.5rem;
    }

    .title {
        font-weight: $weight-heavy;
    }

}


.contact-submit {
    margin-top: 1rem;
    width: 110px;
    transition: width $transition,
                color $transition;
} 

.button-primary.active {
    width: 126px;
    background-color: $inactive;
    border-color: $inactive;
    cursor: auto;
    .spinner {
        opacity: 1;
    }

}
.button-primary.active:hover,
.button-primary.active:focus {
    background-color: $inactive;
    border-color: $inactive;
}

.spinner {
    margin-left: 5px;
    width: 11px;
    height: 11px;
    opacity: 0;
    transition: opacity $transition;
}

.message {
    visibility: hidden;
    font-weight: $weight-heavy;
}
.message.is-error, .message.is-success {
    visibility: visible;
}

