<section class="contact section">
    <div class="container">
        <div class="row">
            <h5 id="contact" class="section-header">Contact</h5>
        </div>
        <div class="row">
            <div class="six columns">
                <p><strong>Email:</strong> <a href="mailto:{{email}}">{{email}}</a></p>
            </div>
            <div class="six columns">
                <p><strong>Mobile:</strong> {{mobile}}</p>
            </div>
        </div>
        <div class="row">
            <h6 class="section-sub-header">Send me a message:</h6>
        </div>
        <form class="contact-form" id="contactForm">
            <div class="row">
                <div class="six columns">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Your name" class="u-full-width"/>
                </div>
                <div class="six columns">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder="test@example.com" class="u-full-width">
                </div>
            </div>
            <label for="message">Message</label>
            <textarea name="message" class="u-full-width" placeholder="Your message..."></textarea>
            <div id="g-captcha"
                 class="g-recaptcha"
                 data-sitekey="{{SITE_KEY}}"
                 data-callback="recaptchaCallback"
                 data-size="invisible">
            </div>
            <button class="button-primary contact-submit" id="submitContact">
                Submit
                <i class="spinner fa fa-spin fa-refresh"></i> 
            </button>
            <p class="message"></p>
        </form>
    </div>
</section>
