<section class="experience section">
    <div class="container">
        <div class="row">
            <div class="eight columns">
                <h5 id="experience" class="section-header">Experience</h4>
            </div>
        </div>
        <div class="row">
            <h6 class="section-sub-header">Skills <strong>/</strong> Certifications</h6>
            <ul>
                {{#each skillsAndCerts}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="row">
            <h6 class="section-sub-header">Work Experience</h6>
        </div>
        {{#each workExperience}}
            {{> work}}
        {{/each}}
    </div>
</section>
